core.71040

images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
*.ply
# eval
out

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4
temp
_notes

stylegan3/results
eg3d/results
eg3d_results

# other repository
vroid_renderer/
vroid-dataset/
vtubers-dataset/
panic_data_models_merged/
animerecon-benchmark/

venv/
_notes.txt
_notes/
_help
tmp/
var_tmp/

*.sublime-workspace
**/___*
**/__pycache__
**/.ipynb_checkpoints
**/.directory
**/.Trash*
**/.empty
**/slurm-*
**/lightning_logs
**/slurm
**/runs

nohup.out
*.zip
_data/
human_rutileE/
_data
**/runs/
supplementary/
demo.ipynb
